# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Suli\0 - Szakdolgozat\IntelliJ - Projects\Alcoa - Time Off Management System - V3 -JavaFX version\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
